@use 'variables' as v;

@mixin telefono {
    @media (min-width:480px) {
        @content;
    }
}
@mixin tablet {
    @media (min-width:768px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width:992px) {
        @content;
    }
}
@mixin grid($columnas, $espaciado) { //Mixins para crear columnas con grid
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}